---
import '@/styles/globals.css'
import Layout from '../layouts/Layout.astro';
import Navbar from '@/components/Navbar.astro';
import Hero from '@/components/Hero.astro';
import Experience from '@/components/Experience.astro'
import Footer from '@/components/Footer.astro'
import Skills from '@/components/Skills.astro';
import Projects from '@/components/Projects.astro';
import '@fontsource-variable/dm-sans';
import Particles from "@/components/ui/particles";
import BlurFade from "@/components/ui/blur-fade";
---

<Layout title="Luis Andrei Ouano | Portfolio">
  <main class="w-full md:max-w-7xl md:mx-auto sm:px-16 md:px-4">
    <!-- <Navbar /> -->
    <Particles
      className="absolute inset-0"
      quantity={100}
      ease={80}
      color={'ffffff'}
      refresh
      client:load
    />

    <BlurFade delay={0.4} client:visible inView>
      <Hero />
    </BlurFade>
		
    <BlurFade delay={0.4} client:visible inView>
      <Skills />
    </BlurFade>

    <BlurFade delay={0.4} client:visible inView>
      <Experience />
    </BlurFade>

    <BlurFade delay={0.4} client:visible inView>
      <Projects />
    </BlurFade>
    <Footer />
	</main>
</Layout>

<style>
</style>
