---
import '@/styles/globals.css'
import Layout from '../layouts/Layout.astro';
import Navbar from '@/components/Navbar.astro';
import Hero from '@/components/Hero.astro';
import Experience from '@/components/Experience.astro'
import Footer from '@/components/Footer.astro'
import Skills from '@/components/Skills.astro';
import Projects from '@/components/Projects.astro';
import '@fontsource-variable/dm-sans';
---

<Layout title="Luis Andrei Ouano">
	<main class="bg-[#0d0d0d] text-white min-h-screen w-full p-5">
    <Navbar />
		<Hero />
    <Skills />
    <Experience />
    <Projects />
    <Footer />
	</main>
</Layout>

<style>
</style>
