---
import '@/styles/globals.css'
import Layout from '../layouts/Layout.astro';
import Navbar from '@/components/Navbar.astro';
import Hero from '@/components/Hero.astro';
import Experience from '@/components/Experience.astro'
import Footer from '@/components/Footer.astro'
import Skills from '@/components/Skills.astro';
import Projects from '@/components/Projects.astro';
import '@fontsource-variable/dm-sans';
---

<Layout title="Luis Andrei Ouano">
  <main class="p-4 sm:p-16">
    <!-- <Navbar /> -->
		<Hero />
    <Skills />
    <Experience />
    <Projects />
    <Footer />
	</main>
</Layout>

<style>
</style>
