---
import {
  Card,
  CardContent,
  CardDescription,
  CardHeader,
  CardTitle,
} from "@/components/ui/card"

export interface Experience {
  title: string,
  company: string,
  duration: string,
  description: string[],
  link: string,
  image: string
}

const experience: Experience[] = [
  {
    title: "Web Developer",
    company: "Today's Carolinian",
    duration: "September 2024 - Present",
    description: [
      "Contributed in creating seamless UI and Login Page for Today's Carolinian USC Days Official Website",
    ],
    link: "https://todayscarolinian.com/",
    image: ""
  }
]
---

<div id="experience" class="p-10 flex flex-col gap-6 hover-parent">
  <strong class="flex items-center gap-2">
    <span class="font-display text-4xl font-bold leading-tight link link-underline link-underline-black">
      Experience
    </span>
    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-down-right text-gray-500"><path d="m7 7 10 10"/><path d="M17 7v10H7"/></svg>
  </strong>
  
  <div>
    {
      experience.map((e) => (
        <Card className="bg-[#0d0d0d] text-white">
          <CardHeader>
            <CardTitle>{e.title}</CardTitle>
            <CardDescription>{e.company}</CardDescription>
            <CardDescription>{e.duration}</CardDescription>
          </CardHeader>
          <CardContent>
          <ul class="list-disc list-inside">
            {
              e.description.map((d) => (
                <li>{d}</li>
              ))
            }
          </ul>
          </CardContent>
        </Card>
      ))
    }
  </div>
  
</div>