---
// add gmail, instagram, and facebook as well
---

<footer id="contact" class="flex items-center justify-center gap-5 h-1">
  <a href="https://www.linkedin.com/in/luis-andrei-ouano-189606247/">
    <img class="w-12" src="/linkedin.png" alt="linkedin">
  </a>
  <a href="https://github.com/LowisWano">
    <img class="w-12" src="/github.png" alt="github">
  </a>
</footer>