---
import { FadeText } from "@/components/ui/fade-text";
import BlurFade from "@/components/ui/blur-fade";
---

<script>
document.getElementById('contact-btn')?.addEventListener('click', () => {
  document.getElementById('contact')?.scrollIntoView({ 
    behavior: 'smooth' 
  });
});
</script>

<style>
  .img-shadow {
    box-shadow: 0 0 16px rgb(236 72 153)
  }
</style>

<div id="about" class="h-screen p-10 flex flex-col md:flex-row items-center hover-parent">
  <div class="w-full md:w-2/3 flex flex-col gap-5">
    <h1 class="mb-2">
      <FadeText
        className="font-display text-3xl md:text-5xl font-bold leading-tight link link-underline link-underline-black"
        direction="up"
        framerProps={{
          show: { transition: { delay: 0.2 } },
        }}
        text="Luis Andrei Ouano"
        client:visible
      />
    </h1>
    <div class="mb-3">
      <FadeText
      className="text-xl md:text-3xl text-gray-300"
      direction="up"
      framerProps={{
        show: { transition: { delay: 0.6 } },
      }}
      text="A passionate developer that delivers solutions through the web."
      client:visible
      />
    </div>
    
    <BlurFade delay={0.6} client:visible inView>
      <div class="flex gap-4">
        <button type="button" class="flex items-center justify-center text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">
          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-download me-2"><path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"/><polyline points="7 10 12 15 17 10"/><line x1="12" x2="12" y1="15" y2="3"/></svg>
          Resume
        </button>
        <button type="button" id="contact-btn" class="flex items-center justify-center text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">
          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-mail-search me-2"><path d="M22 12.5V6a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2v12c0 1.1.9 2 2 2h7.5"/><path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"/><path d="M18 21a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/><circle cx="18" cy="18" r="3"/><path d="m22 22-1.5-1.5"/></svg>
          Contact Me
        </button>
      </div>
    </BlurFade>
    
  </div>

  <div class="w-full md:w-1/3 mt-10 md:mt-0">
    <BlurFade delay={0.25} client:visible inView>
      <img src="/images/grad-pic.jpg" alt="luis" class="w-[350px] h-auto rounded-lg img-shadow">
    </BlurFade>
  </div>
</div>