---

---

<div class="p-10 flex items-center">
  <div class="w-1/2">
    <h1 class="text-4xl">Hello World!</h1>
    <h1 class="text-6xl">I'm Luis Andrei Ouano</h1>
    <p class="text-3xl">A passionate developer that delivers solutions through the web.</p>
  </div>

  <div class="w-1/2">
    <img src="" alt="luis" class="w-full h-auto">
  </div>
</div>