---
const links = [
  { href: '/#about', text: 'About' },
  { href: '/#projects', text: 'Projects' },
  { href: '/#experiences', text: 'Experiences' },
  { href: '/#contact', text: 'Contact' },
];
---

<nav class=" p-4 flex flex-row justify-between">
  <div>Logo</div>
  <div class="flex gap-6">
      {links.map(link => (
        <a href="#" class="font-display text-6xl font-bold leading-tight">
          <a href={link.href} class="link link-underline link-underline-black">{link.text}</a>
        </a>
      ))}
  </div>
</nav>
