---
// cards of projects I made: Atlas, future game dev proj
---

<div id="projects" class="p-10 flex flex-col">

  <strong>
    <span class="font-display text-4xl font-bold leading-tight link link-underline link-underline-black">
      Projects
    </span>
  </strong>
</div>